.section_style
{
    margin-left: 555px;
}

.section_style_1
{
    margin-left: 80px;

}
.section_style_2
{
    margin-left: 55px;

}

.section_style_3
{
    margin-left: 55px;

}


.section_style_4
{
    margin-left: 95px;

}









